@model ShopTARge24.Models.Spaceships.ImageViewModel

<div class="thumb">
    <img src="@Model.Image" alt="@Model.ImageTitle" asp-append-version="true" />
    <div class="caption">
        <div class="small text-truncate">@Model.ImageTitle</div>
    </div>
</div>
