@model ShopTARge24.Models.Spaceships.ImageViewModel

@{
    var src = string.IsNullOrWhiteSpace(Model.Filepath)
        ? Url.Content("~/multipleFileUpload/noimage.jpg")
        : Url.Content("~/multipleFileUpload/" + Model.Filepath);
}

<div class="thumb">
    <img src="@src" alt="@Model.Filepath" asp-append-version="true" />
    <div class="caption">
        <div class="small text-truncate">@Model.Filepath</div>
    </div>
</div>
